<template>
  <q-page class="items-center">
    <div class="q-pa-md">
      <q-table
          title="Treats"
          :rows="rows"
          :columns="columns"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          :filter="filter"
          @request="onRequest"
          binary-state-sort
      >
        <template v-slot:top-right>
          <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

      </q-table>
    </div>
      <q-card class="q-pa-md" flat bordered>
        <div class="text-h5 q-mt-sm q-mb-xs">
          Empresa
        </div>
        <div class="q-pa-md">
          <q-form class="row justify-start q-gutter-sm" @submit="onSubmit" @reset="onReset">
            <div class="col-12">
              <q-field
                  v-model="cpfCnpj"
                  label="CNPJ/CPF"
                  hint="CNPJ/CPF"
                  dense
                  class="customQFieldInput"
              >
                <template v-slot:control="{ id, floatingLabel, emitValue }">
                  <input
                      :id="id"
                      v-model="cpfCnpj"
                      v-maska="['###.###.###-##', '##.###.###/####-##']"
                      class="q-field__input"
                      @change="e => emitValue(e.target.value)"
                      v-show="floatingLabel"
                  >
                </template>
              </q-field>
            </div>
            <div class="col-5">
              <q-input
                v-model="razaoSocial"
                label="Razão Social"
                hint="Razão Social"
                dense
              />
            </div>
            <div class="col-5">
              <q-input
                  v-model="nomeFantasia"
                  label="Nome Fantasia"
                  hint="Nome Fantasia"
                  dense
              />
            </div>
            <div class="col-12">
              <q-input
                  v-model="endereco"
                  label="Endereço"
                  hint="Endereço"
                  dense
              />
            </div>
            <div class="col-5">
              <q-input
                  v-model="cidade"
                  label="Cidade"
                  hint="Cidade"
                  dense
              />
            </div>
            <div class="col-2">
              <q-input
                  v-model="estado"
                  label="Estado"
                  hint="Estado"
                  dense
              />
            </div>
            <div class="col-3">
              <q-input
                  v-model="pais"
                  label="País"
                  hint="País"
                  dense
              />
            </div>
            <div class="col-5">
              <q-input
                  v-model="nomeContato"
                  label="Nome do contato"
                  hint="Nome do contato"
                  dense
              />
            </div>
            <div class="col-6">
              <q-input
                  v-model="emailContato"
                  label="E-mail do contato"
                  hint="E-mail do contato"
                  dense
                  :rules="[validateEmail]"
              />
            </div>
            <div class="col-5">
              <q-input
                  v-model="contatoFinanceiro"
                  label="Contato do financeiro"
                  hint="Contato do financeiro"
                  dense
              />
            </div>
            <div class="col-6">
              <q-input
                  v-model="emailFinanceiro"
                  label="E-mail do financeiro"
                  hint="E-mail do financeiro"
                  dense
                  :rules="[validateEmail]"
              />
            </div>
            <div class="col-2">
              <q-input
                  v-model="DDD"
                  label="DDD"
                  hint="DDD"
                  dense
                  maxlength="4"
                  unmasked-value
                  mask="(##)"
              />
            </div>
            <div class="col-9">
              <q-field
                  v-model="telefone"
                  label="Telefone"
                  hint="Telefone"
                  dense
                  class="customQFieldInput"
              >
                <template v-slot:control="{ id, emitValue }">
                  <input
                      :id="id"
                      :tabindex="0"
                      v-model="telefone"
                      v-maska="['####-####', '#####-####']"
                      class="q-field__input"
                      @change="e => emitValue(e.target.value)"
                  >
                </template>
              </q-field>
            </div>
            <div>
              <q-btn label="Enviar" type="submit" color="primary" @onSubmit="onSubmit"/>
              <q-btn label="Limpar" type="reset" color="primary" flat class="q-ml-sm" @onReset="onReset" />
            </div>
          </q-form>
        </div>
      </q-card>
  </q-page>
</template>

<script setup lang="ts">

/* eslint-disable */
const columns = [
  {
    name: 'desc',
    required: true,
    label: 'Dessert (100g serving)',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true },
  { name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
  { name: 'carbs', label: 'Carbs (g)', field: 'carbs', sortable: true },
  { name: 'protein', label: 'Protein (g)', field: 'protein', sortable: true },
  { name: 'sodium', label: 'Sodium (mg)', field: 'sodium', sortable: true },
  { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
]
const originalRows = [
  { id: 1, name: 'Frozen Yogurt', calories: 159, fat: 6.0, carbs: 24, protein: 4.0, sodium: 87, calcium: '14%', iron: '1%' },
  { id: 2, name: 'Ice cream sandwich', calories: 237, fat: 9.0, carbs: 37, protein: 4.3, sodium: 129, calcium: '8%', iron: '1%' },
  { id: 3, name: 'Eclair', calories: 262, fat: 16.0, carbs: 23, protein: 6.0, sodium: 337, calcium: '6%', iron: '7%' },
  { id: 4, name: 'Cupcake', calories: 305, fat: 3.7, carbs: 67, protein: 4.3, sodium: 413, calcium: '3%', iron: '8%' },
  { id: 5, name: 'Gingerbread', calories: 356, fat: 16.0, carbs: 49, protein: 3.9, sodium: 327, calcium: '7%', iron: '16%' },
  { id: 6, name: 'Jelly bean', calories: 375, fat: 0.0, carbs: 94, protein: 0.0, sodium: 50, calcium: '0%', iron: '0%' },
  { id: 7, name: 'Lollipop', calories: 392, fat: 0.2, carbs: 98, protein: 0, sodium: 38, calcium: '0%', iron: '2%' },
  { id: 8, name: 'Honeycomb', calories: 408, fat: 3.2, carbs: 87, protein: 6.5, sodium: 562, calcium: '0%', iron: '45%' },
  { id: 9, name: 'Donut', calories: 452, fat: 25.0, carbs: 51, protein: 4.9, sodium: 326, calcium: '2%', iron: '22%' },
  { id: 10, name: 'KitKat', calories: 518, fat: 26.0, carbs: 65, protein: 7, sodium: 54, calcium: '12%', iron: '6%' },
  { id: 11, name: 'Frozen Yogurt-1', calories: 159, fat: 6.0, carbs: 24, protein: 4.0, sodium: 87, calcium: '14%', iron: '1%' },
  { id: 12, name: 'Ice cream sandwich-1', calories: 237, fat: 9.0, carbs: 37, protein: 4.3, sodium: 129, calcium: '8%', iron: '1%' },
  { id: 13, name: 'Eclair-1', calories: 262, fat: 16.0, carbs: 23, protein: 6.0, sodium: 337, calcium: '6%', iron: '7%' },
  { id: 14, name: 'Cupcake-1', calories: 305, fat: 3.7, carbs: 67, protein: 4.3, sodium: 413, calcium: '3%', iron: '8%' },
  { id: 15, name: 'Gingerbread-1', calories: 356, fat: 16.0, carbs: 49, protein: 3.9, sodium: 327, calcium: '7%', iron: '16%' },
  { id: 16, name: 'Jelly bean-1', calories: 375, fat: 0.0, carbs: 94, protein: 0.0, sodium: 50, calcium: '0%', iron: '0%' },
  { id: 17, name: 'Lollipop-1', calories: 392, fat: 0.2, carbs: 98, protein: 0, sodium: 38, calcium: '0%', iron: '2%' },
  { id: 18, name: 'Honeycomb-1', calories: 408, fat: 3.2, carbs: 87, protein: 6.5, sodium: 562, calcium: '0%', iron: '45%' },
  { id: 19, name: 'Donut-1', calories: 452, fat: 25.0, carbs: 51, protein: 4.9, sodium: 326, calcium: '2%', iron: '22%' },
  { id: 20, name: 'KitKat-1', calories: 518, fat: 26.0, carbs: 65, protein: 7, sodium: 54, calcium: '12%', iron: '6%' },
  { id: 21, name: 'Frozen Yogurt-2', calories: 159, fat: 6.0, carbs: 24, protein: 4.0, sodium: 87, calcium: '14%', iron: '1%' },
  { id: 22, name: 'Ice cream sandwich-2', calories: 237, fat: 9.0, carbs: 37, protein: 4.3, sodium: 129, calcium: '8%', iron: '1%' },
  { id: 23, name: 'Eclair-2', calories: 262, fat: 16.0, carbs: 23, protein: 6.0, sodium: 337, calcium: '6%', iron: '7%' },
  { id: 24, name: 'Cupcake-2', calories: 305, fat: 3.7, carbs: 67, protein: 4.3, sodium: 413, calcium: '3%', iron: '8%' },
  { id: 25, name: 'Gingerbread-2', calories: 356, fat: 16.0, carbs: 49, protein: 3.9, sodium: 327, calcium: '7%', iron: '16%' },
  { id: 26, name: 'Jelly bean-2', calories: 375, fat: 0.0, carbs: 94, protein: 0.0, sodium: 50, calcium: '0%', iron: '0%' },
  { id: 27, name: 'Lollipop-2', calories: 392, fat: 0.2, carbs: 98, protein: 0, sodium: 38, calcium: '0%', iron: '2%' },
  { id: 28, name: 'Honeycomb-2', calories: 408, fat: 3.2, carbs: 87, protein: 6.5, sodium: 562, calcium: '0%', iron: '45%' },
  { id: 29, name: 'Donut-2', calories: 452, fat: 25.0, carbs: 51, protein: 4.9, sodium: 326, calcium: '2%', iron: '22%' },
  { id: 30, name: 'KitKat-2', calories: 518, fat: 26.0, carbs: 65, protein: 7, sodium: 54, calcium: '12%', iron: '6%' },
  { id: 31, name: 'Frozen Yogurt-3', calories: 159, fat: 6.0, carbs: 24, protein: 4.0, sodium: 87, calcium: '14%', iron: '1%' },
  { id: 32, name: 'Ice cream sandwich-3', calories: 237, fat: 9.0, carbs: 37, protein: 4.3, sodium: 129, calcium: '8%', iron: '1%' },
  { id: 33, name: 'Eclair-3', calories: 262, fat: 16.0, carbs: 23, protein: 6.0, sodium: 337, calcium: '6%', iron: '7%' },
  { id: 34, name: 'Cupcake-3', calories: 305, fat: 3.7, carbs: 67, protein: 4.3, sodium: 413, calcium: '3%', iron: '8%' },
  { id: 35, name: 'Gingerbread-3', calories: 356, fat: 16.0, carbs: 49, protein: 3.9, sodium: 327, calcium: '7%', iron: '16%' },
  { id: 36, name: 'Jelly bean-3', calories: 375, fat: 0.0, carbs: 94, protein: 0.0, sodium: 50, calcium: '0%', iron: '0%' },
  { id: 37, name: 'Lollipop-3', calories: 392, fat: 0.2, carbs: 98, protein: 0, sodium: 38, calcium: '0%', iron: '2%' },
  { id: 38, name: 'Honeycomb-3', calories: 408, fat: 3.2, carbs: 87, protein: 6.5, sodium: 562, calcium: '0%', iron: '45%' },
  { id: 39, name: 'Donut-3', calories: 452, fat: 25.0, carbs: 51, protein: 4.9, sodium: 326, calcium: '2%', iron: '22%' },
  { id: 40, name: 'KitKat-3', calories: 518, fat: 26.0, carbs: 65, protein: 7, sodium: 54, calcium: '12%', iron: '6%' }
]
import { ref, computed, onMounted } from 'vue'
import { useStore } from 'src/store'
import { requestHelper } from 'src/helper/request'
import faker from 'faker'
faker.locale = 'pt_BR'
const $store = useStore()
const test = computed(() => $store.state.example.test)
console.log(test.value)
void $store.dispatch('example/someAction', 'teste de state do vuex!')
console.log(test.value)
const rows = ref([])
const filter = ref('')
const loading = ref(false)
const pagination = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  rowsPerPage: 3,
  rowsNumber: 10
})

// emulate ajax call
// SELECT * FROM ... WHERE...LIMIT...
function fetchFromServer (startRow, count, filter, sortBy, descending) {
  const data = filter
      ? originalRows.filter(row => row.name.includes(filter))
      : originalRows.slice()

  // handle sortBy
  if (sortBy) {
    const sortFn = sortBy === 'desc'
        ? (descending
                ? (a, b) => (a.name > b.name ? -1 : a.name < b.name ? 1 : 0)
                : (a, b) => (a.name > b.name ? 1 : a.name < b.name ? -1 : 0)
        )
        : (descending
                ? (a, b) => (parseFloat(b[ sortBy ]) - parseFloat(a[ sortBy ]))
                : (a, b) => (parseFloat(a[ sortBy ]) - parseFloat(b[ sortBy ]))
        )
    data.sort(sortFn)
  }

  return data.slice(startRow, startRow + count)
}

// emulate 'SELECT count(*) FROM ...WHERE...'
function getRowsNumberCount (filter) {
  if (!filter) {
    return originalRows.length
  }
  let count = 0
  originalRows.forEach(treat => {
    if (treat.name.includes(filter)) {
      ++count
    }
  })
  return count
}

function onRequest (props) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination
  const filter = props.filter

  loading.value = true

  // emulate server
  setTimeout(() => {
    // update rowsCount with appropriate value
    pagination.value.rowsNumber = getRowsNumberCount(filter)

    // get all rows if "All" (0) is selected
    const fetchCount = rowsPerPage === 0 ? pagination.value.rowsNumber : rowsPerPage

    // calculate starting row of data
    const startRow = (page - 1) * rowsPerPage

    // fetch data from "server"
    const returnedData = fetchFromServer(startRow, fetchCount, filter, sortBy, descending)

    // clear out existing data and add new
    rows.value.splice(0, rows.value.length, ...returnedData)

    // don't forget to update local pagination object
    pagination.value.page = page
    pagination.value.rowsPerPage = rowsPerPage
    pagination.value.sortBy = sortBy
    pagination.value.descending = descending

    // ...and turn of loading indicator
    loading.value = false
  }, 1500)
}

onMounted(() => {
  // get initial data from server (1st page)
  onRequest({
    pagination: pagination.value,
    filter: undefined
  })
})
const cpfCnpj = ref<string>('000.000.000-00')
const razaoSocial = ref<string>(faker.company.companyName())
const nomeFantasia = ref<string>(faker.company.companyName())
const endereco = ref<string>(faker.address.streetAddress())
const cidade = ref<string>(faker.address.cityName())
const estado = ref<string>(faker.address.state())
const pais = ref<string>(faker.address.country())
const nomeContato = ref<string>(faker.name.firstName())
const emailContato = ref<string>(faker.internet.email())
const contatoFinanceiro = ref<string>(faker.name.firstName())
const emailFinanceiro = ref<string>(faker.internet.email())
const DDD = ref<string>('61')
const telefone = ref<string>('000000000')
const onSubmit = async () => {
  const submitResponse = await requestHelper.post(null, null, {}, true)
  console.log(submitResponse)
}
const onReset = () => {
  cpfCnpj.value = ''
  razaoSocial.value = ''
  nomeFantasia.value = ''
  endereco.value = ''
  cidade.value = ''
  estado.value = ''
  pais.value = ''
  nomeContato.value = ''
  emailContato.value = ''
  contatoFinanceiro.value = ''
  emailFinanceiro.value = ''
  DDD.value = ''
  telefone.value = ''
}
const validateEmail = (val:string) => {
  if (!(/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}/.exec(val))) {
    return 'E-mail inválido'
  } else {
    return true
  }
}
</script>
